.fixed {
    position:fixed;
    background-color: lightblue;
    top:-3%;
    width:100%;
    padding:5px;
    color:blue;
}
#dropdown_menu {
    backgrouund-color:lightblue;
}
h2 {
    top:300px;
}
h4 {
    top:250px;
    position: static;
}
